* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /* scroll-behavior: smooth; */
    width: 100%;
    height: 100%;
}
body {
   background-color: #fff;
}
.container {
    position: relative;
}
.section-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/**********************
    start navbar 
***********************/

.navbar-menu {
    width: 100%;
    height: 60px;
    background-color: transparent;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 200;
    transition: all 0.5s ease;
}
.logo {
    width: 50px;
    height: 50px;
    margin: 7px;
    position: relative;
}
.logo img {
    width: inherit !important;
    height: inherit !important;
}
.navbar-list {
    display: block;
}
.navbar-menu ul {
    padding-left: 0;
    padding-right: 10px;
    text-align: right;
}

.navbar-menu li {
    display: inline-block;
}
.navbar-menu .nav-link {
    text-decoration: none;
    padding: 6px;
    color: #eee;
}
.navbar-menu .nav-link:hover,
.active
{
    color: #f5d94e !important;
    border-bottom: 1px solid #f5d94e;
    transition: all 0.3s ease-in-out;
}
.navbar-menu.scroll {
    background-color: #3f1246;
} 

/*  Start Hamburger Icon  */
.hamburgerIcon {
    width: 60px;
    height: 60px;
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    z-index: 500;
}
.line {
    width: 40px;
    height: 4px;
    background-color: #03b2e3;
    margin: 5px auto;
    transition: all 0.2s ease;
}
.line:first-child {
    margin-top: 20%;
}
/* End Hamburger Icon */

/* Start rotate lines to X */
.line1 {
    display: none;
}
.line2 {
    margin-top: 30px;
    position: absolute;
    transform: rotate(125deg);
    transition: all 0.4s ease;
    -webkit-transform: rotate(125deg);
    -moz-transform: rotate(125deg);
    -ms-transform: rotate(125deg);
    -o-transform: rotate(125deg);
}
.line3 {
    position: absolute;
    margin-top: 30px;
    transform: rotate(55deg);
    transition: all 10.4 ease;
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
}
/* End rotate lines to X */

/* Start Side Menu */
.hamburgerMenu {
    background-color: #eee;
    width: 60%;
    height: 100%;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 400;
    text-align: center;
    clip-path: circle(1px at 100% 1%);
    -webkit-clip-path: circle(1px at 100% 1%);
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}
#sideNavbar {
    text-align: center;
}
.hamburgerMenu li {
    display: block;
    margin-top: 20px;
}
.hamburgerMenu a {
    color: #3f1246;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 600;
}
.hamburgerMenu a:hover,
.homeActive {
    color: #eee !important;
    background-color: #3f1246; 
    padding: 10px;
    
}
.hamburgerMenu.open {
    clip-path: circle(1000px at 90% 10%);
    -webkit-clip-path: circle(1000px at 90% 10%);
}
.darkCover {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 300;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.darkCover.openCover {
    display: block;
}
/* End Side Menu */
/********************** end navbar *********************/

/**********************
    start header
***********************/

.header {
    width: 100%;
    height: 600px;
    color: #fff;
    position: relative;
    background: #150517;
    background: -moz-linear-gradient(left, #150517 0%, #55165E 61%, #9827A8 100%);
    background: -webkit-linear-gradient(left, #150517 0%, #55165E 61%, #9827A8 100%);
    background: linear-gradient(to right, #150517 0%, #55165E 61%, #9827A8 100%);
}
.header h1 {
    padding-top: 10px;
    padding-left: 10px;
 }
.header span {
    color: #3f1246;
    background-color: #f5d94e;
    border: 2px solid;
    padding-left: 15px;
    padding-right: 15px;
}
.header img:first-child {
    width: 500px;
    height: 500px;
    border-radius: 42% 39% 22% 56% / 45% 39% 25% 27% ;
    position: absolute;
    right: 2%;
    bottom: 3%;
}
.header-text {
    font-size: 3rem;
    position: absolute;
    top: 25%;
    color: #eee;
    font-weight: 600;
    padding-left: 6%;
}
.wave {
    width: 100%;
    position: absolute;
    bottom: -1px;
}
#upBtn {
    width: 40px;
    height: 40px;
    padding: 7px;
    opacity: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 600;
    border: 3px solid #ddbb14;
    background-color: #6f257a;
    color: #ddbb14;
    border-radius: 50%;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 1.5s ease;
}
#upBtn.show {
    opacity: 1;
}
/********************* end header **********************/

/***********************
 start channels section 
************************/

.channels-section-img {
    width: 40%;
    height: 500px;
}
.channels-section-img img{
    width: 100%;
    height: inherit;
}
.channels-section-text {
    width: 60%;
    color: #732281;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
}
.channels-section-text p {
    margin: 20px auto;
    letter-spacing: 2px;
    font-weight: 600;
}
.channels-section-text button {
    width: 50%;
    height: 50px;
    color: #3f1246;
    margin: 10px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 12px 12px 16px 0 #7322813d, -8px -8px 12px 0 rgb(255 255 255 / 30%);
    background: linear-gradient(-5deg, #5a2a9c, rgba(255,255,255,0.25));
}
/*** start channels list ***/
#arabic {
    display: none;
}
#arabic.open {
    display: block;
}
#english {
    display: none;
}
#english.open {
    display: block;
}
.learning-page {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #211024, #3f1246, #561860, #6f257a, #9827a8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
}
.learning-page .closeBtn {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin: 2px;
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
}
.learning-page .closeBtn img {
    width: inherit;
    height: inherit;
    background-color: #ddbb14;
    border-radius: 50%;
}
.learning-page ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.learning-page a{
    text-decoration: none;
    color: #55165E;
    font-size: 1.5rem;
    text-align: left;
}
.learning-page h2 {
    color: #f5d94e;
    letter-spacing: 3px;
    margin-top: 20px;
}
.videos-list {
    display: flex;
    flex-wrap: wrap;
}
.channel-card {
    width: 300px;
    height: 100px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    background-color: #eee;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)
}
.channel-card img {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid #55165E;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)
}
/*** end channels list ***/
/***************** end channels section *******************/

/*************************
  start subjects section
**************************/

.subjectss-section {
    width: 100%;
    background-color: #55165E;
}
.subjects-section .card {
    width: 90%;
    color: #fff;
    margin: 15px auto;
    background-image: linear-gradient(to right, #211024, #3f1246, #561860, #6f257a, #9827a8);
}
.subjects-section ul {
    margin: 10px auto;
    padding-left: 15px;
    padding-top: 14px;
    list-style: none;
/* to divide li's in two column */
    column-count: 2;
    column-gap: 20px;
    column-fill: auto;
    list-style-position: inside;
}
.subjects-section ul li {
    margin: 15px auto;
}
.subjects-section .icon {
    width: 30px;
    height: 40px;
    margin-right: 5px;
    padding-top: 10px;
}
.subjects-section .icon2 {
    width: 40px;
    height: 50px;
    margin-left: -5px;
    margin-right: 3px;
    margin-bottom: -10px;
}
.subjects-section a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
.subjects-section .title {
    background-color: #f5d94e;
    color: #55165E;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 8px;
}
.subject-page-section {
    width: 100%;
    margin: auto;
    background-image: linear-gradient(to right, #211024, #3f1246, #561860, #6f257a, #9827a8);
}
.subject-page-list {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: inherit !important;
}
.subject-page-list p {
    width: 60%;
    font-size: 1.5rem;
    color: #f5d94e;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    margin-bottom: inherit;
}
.rtlDir {
    direction: rtl;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.subject-page-card {
    width: 45%;
    border: none;
    border-radius: 10px;
    background-color: #eee;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
    padding-bottom: 5px;
}
/* Start Subject Page Video Card */
.subject-page-card-title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    padding: 10px 0;
    padding-left: 15px;
    border-top: 1px solid #ddbb14;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #3f1246;

}
.subject-page-card-img {
    width: 25%;
    border-right: 1px solid #3f1246;
    display: inline-block;
    text-align: center;
}
.subject-page-card-img img {
    width: 35px;
    height: 35px;
    margin: 5px;
}
.subject-page-card-content {
    width: 65%;
    display: inline-block;
    text-align: center;
}
.subject-page-card-content a {
    color: #55165E;
    font-size: 1.2rem;
}
.vid-date {
    color: rgba(0, 0, 0, 0.3);
}
.language {
    color: rgba(0, 0, 0, 0.3);
}
/* End Subject Page Video Card */
#frontEndForm {
    display: none;
}
#frontEndForm.open {
    display: block;
}
#frontEndForm {
    display: none;
}
#htmlForm {
    display: none;
}
#htmlForm.open {
    display: block;
}
#htmlForm.close {
    display: none;
}
#cssForm {
    display: none;
}
#cssForm.open {
    display: block;
}
#jsForm {
    display: none;
}
#jsForm.open {
    display: block;
}
#gitForm {
    display: none;
}
#gitForm.open {
    display: block;
}
#githubForm {
    display: none;
}
#githubForm.open {
    display: block;
}
/* end subject form */
/*---- end subjects section -----*/

/***** start book & quiz section *****/
.book-quiz-section {
    width: 90%;
    padding: 20px;
    background-color: #3f1246;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid #ddbb14;
    border-radius: 20px;
}
.book-quiz-btn {
    width: 25%;
    height: 45px;
    color: #ddbb14;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 12px 12px 16px 0 rgb(0 0 0 / 25%), -4px -4px 12px 0 rgb(255 255 255 / 30%);
    background: linear-gradient( 
        20deg, #3f1246, rgba(255,255,255,0.25));
    border: none;
}
.book-quiz-list ul {
    display: block;
}
.book-quiz-list h3 {
    width: 15%;
    color: #ddbb14;
    font-size: 1.5rem;
    margin: 25px auto;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddbb14;
}
#readForm {
    display: none;
}
#readForm.open {
    display: block;
}
#practiceForm {
    display: none;
}
#practiceForm.open {
    display: block;
}
#quizForm {
    display: none;
}
#quizForm.open {
    display: block;
}
#cheatSheetForm {
    display: none;
}
#cheatSheetForm.open {
    display: block;
}

 /*---- end read & quiz section ----*/

/***** start Projects section *****/
.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.projects-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 150px;
    margin-bottom: 10px;
}
.projects-img {
    width: 40%;
}
.projects-section-btn {
    width: 50%;
    height: 50px;
    margin: 15px;
    font-size: 120%;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    color: #f5d94ed9;
    background-color: #6f257a;
    box-shadow: 
       12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -5px 12px 0 rgba(255, 255, 255, 0.15)
}
.projects-section-btn:active {
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  
    /*concave effect*/
    background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25))
}
.projects-section-btn:focus {
    outline: none;
}
#arabicProjectForm {
    display: none;
}
#arabicProjectForm.open {
    display: block;
}
#englishProjectForm {
    display: none;
}
#englishProjectForm.open {
    display: block;
}
/***************** end Projects section *******************/

/***************** start tools section *****************/
.tools li a {
    font-size: 1rem;
    cursor: pointer;
}
.tools h4 {
    color: #ddbb14;
    border-bottom: 1px solid #ddbb14;
    width: 45%;
    text-align: center;
    padding-bottom: 10px;
}
/***************** end tools section *******************/

/***************** start footer *******************/
footer {
    background-color: #3f1246;
    color: #eee;
    text-align: center;
    padding: 10px 0;
}
footer img {
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
}
/***************** end footer *******************/


/*****************
   start circles
******************/
.circle-wrap {
    position: absolute;
    top: 30;
}
.circle {
    background-color: #9927a86f;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.x {
    animation: x 10s linear infinite alternate;
}
.y {
    animation: y 5s linear infinite alternate;
}
.x2 {
    background-color: #856a896f;
    position: absolute;
    top: 30;
    right: 0;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: x2 10s linear infinite alternate;
}

/******************
  Start Key Frames
*******************/
@keyframes x {
    100% {
        transform: translateX(calc(100% - 300px));
    }
}
@keyframes y {
    100% {
        transform: translateY(calc(20vh - 300px));
    }
}
@keyframes x2 {
    100% {
        transform: translateX(calc(-100% - 300px));
    }
}

/*********** end circle **************/

/*********************
  Start Media Query 
**********************/

/**** For Small Screen with max width 576px ****/
 @media (max-width: 576px) {
    /*  header  */
    .header {
        height: 95vh;
    }
    .header h1 {
    font-size: 1.5rem;
    padding-top: 15px;
    color: #f5d94e;
    }
    .header img:first-child {
    width: 350px;
    height: 350px;
    }
    .header ul {
        margin-top: 20px;
    }
    .header ul li {
        font-size: 17px;
        margin: 5px;
        padding: 5px;
    }
    .header-text {
    font-size: 2rem;
    top: 15%;
    }
    /* navbar hamburger menu */
    #navbar-list {
        display: none;
    }
    .hamburgerIcon {
        display: block;
    }
    .hamburgerMenu {
        display: block;
    }
    .navbar__menu li {
        display: block;
        font-size: 1.5rem;
        margin-top: 30px;
    }
    .logo {
        position: absolute;
        top: 5px;
        left: 5px;
    }
    .circle {
        width: 285px;
    }
  
    /* first section */
    .channels-section-text {
        width: 100%;
        margin-bottom: 15px;
    }
    .channels-section-img {
        width: 100%;
    }
    .channels-section-img img {
        width: inherit;
    }
    /* subjects section */
    .subjects-section ul {
        column-count: 1;
    }
    .subjects-section a {
        font-size: 1.2rem;
    }
    .subject-page-card {
        width: 93%;
    }
    /* book-quiz-section*/
    .book-quiz-section {
        height: inherit;
        padding: 20px 0;
    }
    .book-quiz-btn {
        width: 90%;
        margin: 20px;
    }
    .book-quiz-list h3 {
        width: 40%;
    }
    /* projects section */
    .projects-img {
        width: 90%;
    }
    .projects-item {
        width: 90%;
    }
    .projects-section-btn {
        width: 80%;
    }
    .channels-section-text button {
        width: 85%;
    }
    
    .tools {
        text-align: center;
    }
    .tools h4 {
        margin: auto;
    }
}

 /**** For Medium Screen with max width 768px ****/
 @media (min-width: 577px) and (max-width: 768px) {
    .header img:first-child {
        width: 350px;
        height: 350px;
    }
    .subject-page-card {
        width: 90%;
    }
    /* projects section */
    .projects-img {
        width: 45%;
    }
    .projects-section-btn {
        width: 70%;
    }
    .channels-section-text button {
        width: 70%;
    }
    /* book-quiz-section*/
    .book-quiz-section {
        height: inherit;
        padding: 20px 0;
    }
    .book-quiz-btn {
        width: 35%;
        margin: 20px;
    }
 }