* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}
body {
   background-color: #fff;
}
.container {
    position: relative;
}
.section-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/**********************
    start navbar 
***********************/

.navbar-menu {
    width: 100%;
    height: auto;
    background-color: transparent;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 200;
    transition: all 0.5s ease;
}
.logo {
    width: 50px;
    height: 50px;
    margin: 7px;
    position: relative;
}
.logo img {
    width: inherit !important;
    height: inherit !important;
}
.navbar-list {
    display: block;
}
.navbar-menu ul {
    padding-left: 0;
    padding-right: 10px;
    text-align: right;
}

.navbar-menu li {
    display: inline-block;
}
.navbar-menu a {
    text-decoration: none;
    padding: 6px;
    color: #eee;
}
.navbar-menu a:hover,
.navbar-menu a:active {
    color: #f5d94e;
    border-bottom: 1px solid #f5d94e;
    transition: all 0.3s ease-in-out;
}
.navbar-menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar-menu .menu__link:hover,
.link__active {
    border-bottom: 3px solid #f5d94e;
    color: #f5d94e;
    transition: ease 0.3s all;
}
.navbar-menu.scroll {
    background-color: #3f1246;
} 

/*  Start Hamburger Icon  */
.hamburgerIcon {
    width: 60px;
    height: 60px;
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    z-index: 500;
}
.line {
    width: 40px;
    height: 4px;
    background-color: #03b2e3;
    margin: 5px auto;
    transition: all 0.5s ease;
}
.line:first-child {
    margin-top: 20%;
}
/* End Hamburger Icon */

/* Start rotate lines to X */
.line1 {
    display: none;
}
.line2 {
    margin-top: 30px;
    position: absolute;
    transform: rotate(125deg);
    transition: all 1s ease;
    -webkit-transform: rotate(125deg);
    -moz-transform: rotate(125deg);
    -ms-transform: rotate(125deg);
    -o-transform: rotate(125deg);
}
.line3 {
    position: absolute;
    margin-top: 30px;
    transform: rotate(55deg);
    transition: all 1s ease;
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
}
/* End rotate lines to X */

/* Start Side Menu */
.hamburgerMenu {
    background-color: #f5d94e;
    color: black;
    width: 60%;
    height: 100%;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 400;
    text-align: center;
    clip-path: circle(1px at 100% 1%);
    -webkit-clip-path: circle(1px at 100% 1%);
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}
#sideNavbar {
    text-align: center;
}
.hamburgerMenu li {
    display: block;
}
.hamburgerMenu a {
    color: #3f1246;
}
.hamburgerMenu.open {
    clip-path: circle(1000px at 90% 10%);
    -webkit-clip-path: circle(1000px at 90% 10%);
}
.darkCover {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 300;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.darkCover.openCover {
    display: block;
}
/* End Side Menu */
/********************** end navbar *********************/

/**********************
    start header
***********************/

.header {
    width: 100%;
    height: 600px;
    color: #fff;
    position: relative;
    background: #150517;
    background: -moz-linear-gradient(left, #150517 0%, #55165E 61%, #9827A8 100%);
    background: -webkit-linear-gradient(left, #150517 0%, #55165E 61%, #9827A8 100%);
    background: linear-gradient(to right, #150517 0%, #55165E 61%, #9827A8 100%);
}
.header h1 {
    padding-top: 10px;
    padding-left: 10px;
 }
.header img:first-child {
    width: 500px;
    height: 500px;
    border-radius: 42% 39% 22% 56% / 45% 39% 25% 27% ;
    position: absolute;
    right: 2%;
    bottom: 10%;
}
.header-text {
    font-size: 3rem;
    position: absolute;
    top: 25%;
    color: #eee;
    font-weight: 600;
    padding-left: 6%;
}
.wave {
    width: 100%;
    position: absolute;
    bottom: -1px;
}
/********************* end header **********************/

/***********************
 start channels section 
************************/

.channels-section-img {
    width: 40%;
    height: 500px;
}
.channels-section-img img{
    width: 100%;
    height: inherit;
}
.channels-section-text {
    width: 60%;
    color: #732281;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
}
.channels-section-text p {
    margin: 20px auto;
    letter-spacing: 2px;
    font-weight: 600;
}
.channels-section-text button {
    width: 100px;
    background-color: #732281;
    color: white;
    padding: 3px;
    font-size: 24px;
    border-radius: 10%;
    cursor: pointer;
}
/*** start channels list ***/
#arabic {
    display: none;
}
#arabic.open {
    display: block;
}
#english {
    display: none;
}
#english.open {
    display: block;
}
.learning-page {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #211024, #3f1246, #561860, #6f257a, #9827a8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
}
.learning-page .closeBtn {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin: 2px;
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
}
.learning-page .closeBtn img {
    width: inherit;
    height: inherit;
    background-color: #561860;
    border-radius: 50%;
}
.learning-page ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.learning-page a{
    text-decoration: none;
    color: #55165E;
    font-size: 1.5rem;
    text-align: left;
}
.learning-page h2 {
    color: #f5d94e;
    letter-spacing: 3px;
    margin-top: 20px;
}
.videos-list {
    display: flex;
    flex-wrap: wrap;
}
.channel-card {
    width: 300px;
    height: 100px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    background-color: #eee;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)
}
.channel-card img {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid #55165E;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)
}
/*** end channels list ***/
/***************** end channels section *******************/

/*************************
  start subjects section
**************************/

.subjectss-section {
    width: 100%;
    background-color: #55165E;
}
.subjects-section .card {
    width: 90%;
    color: #fff;
    margin: 15px auto;
    background-image: linear-gradient(to right, #211024, #3f1246, #561860, #6f257a, #9827a8);
}
.subjects-section ul {
    margin: 10px auto;
    padding-left: 15px;
    padding-top: 14px;
    list-style: none;
/* to divide li's in two column */
    column-count: 2;
    column-gap: 20px;
    column-fill: auto;
    list-style-position: inside;
}
.subjects-section ul li {
    margin: 15px;
}
.subjects-section ul li::before {
    content: "\2022";
    color: #f5d94e;
    font-weight: 300;
    display: inline-block; 
    width: 1.5em;
}
.subjects-section .icon {
    width: 30px;
    height: 40px;
    margin-right: 5px;
    padding-top: 10px;
}
.subjects-section a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
.subjects-section .title {
    background-color: #f5d94e;
    color: #55165E;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 8px;
}
.subject-page-section {
    width: 95%;
    margin: auto;
    background-image: linear-gradient(to right, #211024, #3f1246, #561860, #6f257a, #9827a8);
}
.subject-page-list {
    flex-direction: column; 
    column-count: 2;
    column-gap: 20px;
    column-fill: auto;
    list-style-position: inside;
}
.subject-page-list p {
    font-size: 1.5rem;
    color: #f5d94e;
    margin: auto;
    border-bottom: 2px solid;
    padding-bottom: 5px;
}
.rtlDir {
    direction: rtl;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    text-align: right;
}
#htmlForm {
    display: none;
}
#htmlForm.open {
    display: block;
}
#htmlForm.close {
    display: none;
}
#cssForm {
    display: none;
}
#cssForm.open {
    display: block;
}
#jsForm {
    display: none;
}
#jsForm.open {
    display: block;
}
#gitForm {
    display: none;
}
#gitForm.open {
    display: block;
}
#githubForm {
    display: none;
}
#githubForm.open {
    display: block;
}
/* end subject form */
/***************** end subjects section *******************/

/***************** start ## section *****************/
/***************** end ## section *******************/

/***************** start ## section *****************/
/***************** end ## section *******************/


/*****************
   start circles
******************/
.circle-wrap {
    position: absolute;
    top: 30;
}
.circle {
    background-color: #9927a86f;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.x {
    animation: x 13s linear infinite alternate;
}
.y {
    animation: y 7s linear infinite alternate;
}
.x2 {
    background-color: #856a896f;
    position: absolute;
    top: 30;
    right: 0;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: x2 13s linear infinite alternate;
}

/******************
  Start Key Frames
*******************/
@keyframes x {
    100% {
        transform: translateX(calc(100% - 300px));
    }
}
@keyframes y {
    100% {
        transform: translateY(calc(40vh - 300px));
    }
}
@keyframes x2 {
    100% {
        transform: translateX(calc(-100% - 300px));
    }
}

/*********** end circle **************/

/*********************
  Start Media Query 
**********************/

/**** For Small Screen with max width 576px ****/
 @media (max-width: 576px) {
    /*  header  */
    .header {
        height: 100vh;
    }
    .header h1 {
    font-size: 1.5rem;
    padding-top: 15px;
    color: #f5d94e;
    }
    .header img:first-child {
    width: 350px;
    height: 350px;
    }
    .header ul {
        margin-top: 20px;
    }
    .header ul li {
        font-size: 17px;
        margin: 5px;
        padding: 5px;
    }
    .header-text {
    font-size: 2rem;
    top: 15%;
    }
    /* navbar hamburger menu */
    #navbar-list {
        display: none;
    }
    .hamburgerIcon {
        display: block;
    }
    .hamburgerMenu {
        display: block;
    }
    .navbar__menu li {
        display: block;
        font-size: 1.5rem;
        margin-top: 30px;
    }
    .logo {
        position: absolute;
        top: 5px;
        left: 5px;
    }
  
    /* first section */
    .channels-section-text {
        width: 100%;
        margin-bottom: 15px;
    }
    .channels-section-img {
        width: 100%;
    }
    .channels-section-img img {
        width: inherit;
    }
    /* second section */
    .subjects-section ul {
        column-count: 1;
    }
    .subjects-section a {
        font-size: 1.2rem;
    }
 }

 /**** For Medium Screen with max width 768px ****/
 @media (min-width: 577px) and (max-width: 768px) {
    .header img:first-child {
        width: 350px;
        height: 350px;
    }
 }