* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}
body {
   background-color: #fff;
}
.container {
    position: relative;
}
.section-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/********************** start header *********************/
.header {
    width: 100%;
    height: 600px;
    color: #fff;
    position: relative;
    background: #150517;
    background: -moz-linear-gradient(left, #150517 0%, #55165E 61%, #9827A8 100%);
    background: -webkit-linear-gradient(left, #150517 0%, #55165E 61%, #9827A8 100%);
    background: linear-gradient(to right, #150517 0%, #55165E 61%, #9827A8 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.header h1 {
    padding-top: 10px;
    padding-left: 10px;
 }
.header img:first-child {
    width: 500px;
    height: 500px;
    border-radius: 42% 39% 22% 56% / 45% 39% 25% 27% ;
    position: absolute;
    right: 0px;
    margin-top: 10px;
}
.header-text {
    font-size: 4rem;
    position: absolute;
    top: 25%;
    color: #856a8973;
    font-weight: 600;
    padding-left: 6%;
}
.wave {
    width: 100%;
    position: absolute;
    bottom: -1px;
}
/* .list {
    width: 60%;
    position: absolute;
    top: 20%;
    text-align: inherit;
} */
.header ul {
    font-size: 1.5rem;
    position: relative;
}
.header ul li {
    color: #fff;
    margin-left: 30px;
    list-style: none;
    margin-bottom: 10px;
}
/********************* end header **********************/

/************** start channels section ****************/
.channels-section-img {
    width: 40%;
    height: 500px;
}
.channels-section-img img{
    width: 100%;
    height: inherit;
}
.channels-section-text {
    width: 60%;
    color: #732281;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
}
.channels-section-text p {
    margin: 20px auto;
    letter-spacing: 2px;
    font-weight: 600;
}
.channels-section-text button {
    width: 100px;
    background-color: #732281;
    color: white;
    padding: 3px;
    font-size: 24px;
    border-radius: 10%;
    cursor: pointer;
}
/*** start channels list ***/
#arabic {
    display: none;
}
#arabic.open {
    display: block;
}
#english {
    display: none;
}
#english.open {
    display: block;
}
.learning-page {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #211024, #3f1246, #561860, #6f257a, #9827a8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    
}
.learning-page .closeBtn {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin: 2px;
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
}
.learning-page .closeBtn img {
    width: inherit;
    height: inherit;
    background-color: #561860;
    border-radius: 50%;
}
.learning-page ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.learning-page a{
    text-decoration: none;
    color: #55165E;
    font-size: 1.5rem;
    text-align: left;
}
.learning-page h2 {
    color: #f5d94e;
    letter-spacing: 3px;
    margin-top: 20px;
}
.videos-list {
    display: flex;
    flex-wrap: wrap;
}
.channel-card {
    width: 300px;
    height: 100px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    background-color: #eee;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)
}
.channel-card img {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid #55165E;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)

}
/*** end channels list ***/
/***************** end channels section *******************/

/***************** start subjects section *****************/
.subjectss-section {
    width: 100%;
    background-color: #55165E;
}
.subjects-section .card {
    width: 90%;
    /* height: 300px; */
    color: #fff;
    margin: 15px auto;
    background-image: linear-gradient(to right, #211024, #3f1246, #561860, #6f257a, #9827a8);
}
.subjects-section ul {
    margin: 10px auto;
    padding-left: 15px;
    padding-top: 14px;
    list-style: none;
/* to divide li's in two column */
    column-count: 2;
    column-gap: 20px;
    column-fill: auto;
    list-style-position: inside;
}
.subjects-section ul li {
    margin: 15px;
}
.subjects-section ul li::before {
    content: "\2022";
    color: #f5d94e;
    font-weight: 300;
    display: inline-block; 
    width: 1.5em;
}
.subjects-section .icon {
    width: 30px;
    height: 40px;
    margin-right: 5px;
    padding-top: 10px;
}
.subjects-section a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
.subjects-section .title {
    background-color: #f5d94e;
    color: #55165E;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 8px;
}
.subject-page-section {
    width: 95%;
    margin: auto;
    background-image: linear-gradient(to right, #211024, #3f1246, #561860, #6f257a, #9827a8);
}
.subject-page-list {
    flex-direction: column; 

    column-count: 2;
    column-gap: 20px;
    column-fill: auto;
    list-style-position: inside;
}
.subject-page-list p {
    font-size: 1.5rem;
    color: #f5d94e;
    margin: auto;
    border-bottom: 2px solid;
    padding-bottom: 5px;
}
.rtlDir {
    direction: rtl;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    text-align: right;
}
#htmlForm {
    display: none;
}
#htmlForm.open {
    display: block;
}
#htmlForm.close {
    display: none;
}

#cssForm {
    display: none;
}
#cssForm.open {
    display: block;
}

#jsForm {
    display: none;
}
#jsForm.open {
    display: block;
}

#gitForm {
    display: none;
}
#gitForm.open {
    display: block;
}

#githubForm {
    display: none;
}
#githubForm.open {
    display: block;
}


/*** end subject form ***/

/***************** end subjects section *******************/

/***************** start ## section *****************/
/***************** end ## section *******************/

/***************** start ## section *****************/
/***************** end ## section *******************/


/*********** start circle ************/
.circle-wrap {
    position: absolute;
    top: 30;
}
.circle {
    background-color: #9927a86f;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.x {
    animation: x 13s linear infinite alternate;
}
.y {
    animation: y 7s linear infinite alternate;
}
.x2 {
    background-color: #856a896f;
    position: absolute;
    top: 30;
    right: 0;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: x2 13s linear infinite alternate;
}

@keyframes x {
    100% {
        transform: translateX(calc(100% - 300px));
    }
}
@keyframes y {
    100% {
        transform: translateY(calc(100vh - 300px));
    }
}
@keyframes x2 {
    100% {
        transform: translateX(calc(-100% - 300px));
    }
}

/*********** end circle **************/


/*
############ Media Query ##############
*/
/**** For Small Screen ****/
 @media (max-width: 576px) {
    /*  header  */
    .header {
        height: 100vh;
    }
    .header h1 {
    font-size: 1.5rem;
    padding-top: 15px;
    color: #f5d94e;
    }
    .header img:first-child {
    width: 300px;
    height: 300px;
    margin-top: -30px;
    }
    .header ul {
        margin-top: 20px;
    }
    .header ul li {
        font-size: 17px;
        margin: 5px;
        padding: 5px;
    }
    .header-text {
    font-size: 3rem;
    top: 43%;
    }
  
    /* first section */
    .channels-section-text {
        width: 100%;
        margin-bottom: 15px;
    }
    .channels-section-img {
        width: 100%;
    }
    .channels-section-img img {
        width: inherit;
    }
    /* second section */
    .subjects-section ul {
        column-count: 1;
    }
    .subjects-section a {
        font-size: 1.2rem;
    }
        
    /*
    .subjects-section ul li {
        width: 48%;
    }
    */
 }

 @media (min-width: 577px) and (max-width: 768px) {
    .header img:first-child {
        width: 350px;
        height: 350px;
    }
 }